# In this notebook, Data Science Tools and Ecosystem are summarized

 Some of the popular languages that Data Scientists use are:

Ordered list:
1. Python
2. R
3. SQL
4. Julia
5. Scala

**Objectives:**

- List popular languages for Data Science.
- Describe commonly used libraries in Data Science.
- Demonstrate examples of arithmetic expressions in Python.
- Convert units of time in Python (e.g., minutes to hours).
- Explore different open-source tools used in Data Science.

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Scikit-learn
4. Matplotlib
5. TensorFlow

### Below are a few examples of evaluating arithmetic expressions in Python

- `3 + 5` results in `8`
- `10 - 2` results in `8`
- `4 * 6` results in `24`
- `8 / 2` results in `4.0`

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

# This is a simple arithmetic expression to multiply then add integers

In [12]:
(3 * 4) + 5

17

# This will convert 200 minutes to hours by dividing by 60

In [14]:
200 / 60

3.3333333333333335

## Author

Lorena Linares Mart√≠nez